# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Other
main/resources/EmbASP/encodings/
main/java/it.unical.informatica.studenti/Model/ClassiEmbASP.ChatCM/
